<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
        <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
            <py-env>
                - numpy
                - pandas
            </py-env>
    <title> Title </title>



</head>
<body>
    <h1>
        Home page

        <py-script>
            print('Now you can!')
            print(numpy.random.randn(10, 4))
        </py-script>
    </h1>
    <div>
        <p>

        </p>
    </div>

</body>


</html>

